#transition
B R S C E
B 0 0.33 0.33 0.33 0
R 0 0.75 0.04 0.2 0.01
S 0 0.04 0.85 0.10 0.01
C 0 0.3 0.19 0.5 0.01
E 0 0 0 0 0
#emission
S Z W
R 0.30 0.60 0.10
S 0.35 0.05 0.60
C 0.75 0.15 0.10
input-sequence:ZZSSSZWWWZSSSZZZSSWWZSSSZWWWZSSSZZZZSSWWWZSSZWWSZWWWZSSZZW
use-input-sequence: no

#Comments

The abbreviations given above for States and Events are:
B -> Begin
R -> Raining 
S -> Sunny
C -> Cloudy
E -> End

S -> Shopping
Z -> Sleeping
W -> Walking

The program is written using the above abbreviations. Even though the program was tested for non abbreviated states and events, the Begin and End states should always be represented by letters B and E respectively.

Please do not remove any of the lines before this comments section. Please change only the values on the right side of the colon for the 'input-sequence' and 'user-input-sequence'. The order should be transistion probabilities, emission probabilities, input sequence, use input sequence, this order should be held at all cases.
The transition and emission probabilities can be changed. The program was not tested for a different set of states and emissions. Even for a different set of states and events, the states set should contain both B and E, which are Begin and End states.

